with_center_keypoints: true
model:
  backbone:
    type: HRNet
    model_name: hrnet_w18
    pretrained: true
    only_high_res: false
  backbone_output_channels: 270
  heads:
    bodypart:
      type: DEKRHead
      target_generator:
        type: DEKRGenerator
        num_joints: "num_bodyparts"
        pos_dist_thresh: 17
        bg_weight: 0.1
      criterion:
        heatmap:
          type: WeightedBCECriterion
          weight: 1
        offset:
          type: WeightedHuberCriterion
          weight: 0.03
      predictor:
        type: DEKRPredictor
        num_animals: "num_individuals"
        keypoint_score_type: combined
        max_absorb_distance: 75
      heatmap_config:
        channels:
        - 270
        - 64
        - "num_bodyparts + 1"  # num_bodyparts + center keypoint
        num_blocks: 1
        dilation_rate: 1
        final_conv_kernel: 1
      offset_config:
        channels:
        - 270
        - "num_bodyparts x 15"  # num_bodyparts * num_offset_per_kpt
        - "num_bodyparts"
        num_offset_per_kpt: 15
        num_blocks: 2
        dilation_rate: 1
        final_conv_kernel: 1
