ipython
filterpy
ruamel.yaml>=0.15.0
intel-openmp
imgaug==0.4.0
numba>=0.54.0
matplotlib
networkx>=2.6
numpy>=1.18.5
pandas>=1.0.1
pyyaml
scikit-image>=0.17,<=0.18.1
scikit-learn>=1.0
scipy>=1.4
statsmodels>=0.11,<=0.13.1
tensorflow>=2.0
tables==3.7.0
tensorpack==0.11
tf_slim==1.1.0
torch
tqdm
Pillow>=7.1
