ipython
filterpy
h5py
ruamel.yaml>=0.15.0
intel-openmp
imgaug==0.4.0
jupyter-book>=0.7.0b
numba
matplotlib
networkx
numpy
opencv-python-headless
pandas>=1.0.1
patsy
pyyaml
setuptools
scikit-image>=0.17,<=0.18.1
scikit-learn
scipy>=1.4
six
statsmodels>=0.11
tensorflow>=2.0
tables
tensorpack
tf_slim
tqdm
moviepy
Pillow>=7.1
