type: HeatmapHead
weight_init: normal
predictor:
  type: HeatmapPredictor
  apply_sigmoid: false
  clip_scores: true
  location_refinement: true
  locref_std: 7.2801
target_generator:
  type: HeatmapGaussianGenerator
  num_heatmaps: "num_bodyparts"
  pos_dist_thresh: 17
  heatmap_mode: KEYPOINT
  generate_locref: true
  locref_std: 7.2801
criterion:
  heatmap:
    type: WeightedMSECriterion
    weight: 1.0
  locref:
    type: WeightedHuberCriterion
    weight: 0.05
heatmap_config:
  channels:
  - "backbone_output_channels"
  - "num_bodyparts"
  kernel_size:
  - 3
  strides:
  - 2
locref_config:
  channels:
  - "backbone_output_channels"
  - "num_bodyparts x 2"
  kernel_size:
  - 3
  strides:
  - 2
